In [10]:
import pandas as pd
import glob

# 1️⃣ 指定你的 parquet 文件路径
# 假设都在 "./data/" 文件夹中
files = glob.glob("./Raw Data/*.parquet")

print(f"找到 {len(files)} 个 parquet 文件。")

# 2️⃣ 读取并合并所有文件
dfs = [pd.read_parquet(f) for f in files]
merged_df = pd.concat(dfs, ignore_index=True)

print(f"合并后的数据维度: {merged_df.shape}")

# 3️⃣ 保存为新的 parquet 文件
merged_df.to_parquet("merged_data.parquet", index=False)

print("✅ 已成功保存为 merged_data.parquet")

找到 36 个 parquet 文件。
合并后的数据维度: (125615076, 21)
✅ 已成功保存为 merged_data.parquet

In [7]:
# import pandas as pd
#
# # 读取 parquet
# df = pd.read_parquet("merged_data.parquet")
#
# # 导出成 csv
# df.to_csv("merged_data.csv", index=False)

KeyboardInterrupt:

In [1]:
import pandas as pd
data = pd.read_parquet("merged_data.parquet")
data.tail(30)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee,cbd_congestion_fee
125615046,2,2023-03-31 23:37:38,2023-04-01 00:06:38,NaN,4.15,NaN,None,209,48,0,...,0.0,0.5,5.78,0.00,1.0,34.67,NaN,NaN,NaN,NaN
125615047,2,2023-03-31 23:47:18,2023-04-01 00:01:29,NaN,2.57,NaN,None,79,256,0,...,0.0,0.5,2.16,0.00,1.0,23.78,NaN,NaN,NaN,NaN
125615048,2,2023-03-31 23:06:00,2023-03-31 23:22:00,NaN,2.56,NaN,None,140,48,0,...,0.0,0.5,4.56,0.00,1.0,27.38,NaN,NaN,NaN,NaN
125615049,2,2023-03-31 23:37:05,2023-03-31 23:56:25,NaN,3.98,NaN,None,231,142,0,...,0.0,0.5,5.90,0.00,1.0,35.40,NaN,NaN,NaN,NaN
125615050,2,2023-03-31 23:14:00,2023-03-31 23:29:00,NaN,2.07,NaN,None,79,164,0,...,0.0,0.5,0.00,0.00,1.0,18.66,NaN,NaN,NaN,NaN
125615051,2,2023-03-31 23:40:03,2023-04-01 00:13:05,NaN,6.61,NaN,None,125,188,0,...,0.0,0.5,7.07,0.00,1.0,42.40,NaN,NaN,NaN,NaN
125615052,2,2023-03-31 23:21:50,2023-03-31 23:50:54,NaN,5.61,NaN,None,137,145,0,...,0.0,0.5,3.60,6.55,1.0,27.16,NaN,NaN,NaN,NaN
125615053,1,2023-03-31 23:00:11,2023-03-31 23:07:25,NaN,1.20,NaN,None,142,239,0,...,1.0,0.5,2.86,0.00,1.0,17.16,NaN,NaN,NaN,NaN
125615054,2,2023-03-31 23:56:38,2023-04-01 00:20:40,NaN,5.33,NaN,None,164,166,0,...,0.0,0.5,0.00,0.00,1.0,33.99,NaN,NaN,NaN,NaN
125615055,2,2023-03-31 23:55:19,2023-04-01 00:07:10,NaN,2.84,NaN,None,48,265,0,...,0.0,0.5,10.07,12.75,1.0,60.43,NaN,NaN,NaN,NaN
125615056,1,2023-03-31 23:21:56,2023-03-31 23:31:45,NaN,1.90,NaN,None,90,246,0,...,1.0,0.5,3.42,0.00,1.0,20.52,NaN,NaN,NaN,NaN
125615057,2,2023-03-31 23:59:13,2023-04-01 00:27:49,NaN,5.68,NaN,None,181,170,0,...,0.0,0.5,0.00,0.00,1.0,27.45,NaN,NaN,NaN,NaN
125615058,2,2023-03-31 23:58:29,2023-04-01 00:13:09,NaN,4.72,NaN,None,25,4,0,...,0.0,0.5,4.64,0.00,1.0,27.83,NaN,NaN,NaN,NaN
125615059,2,2023-03-31 23:24:41,2023-03-31 23:38:32,NaN,5.83,NaN,None,75,127,0,...,0.0,0.5,0.00,0.00,1.0,21.58,NaN,NaN,NaN,NaN
125615060,2,2023-03-31 23:24:00,2023-03-31 23:51:00,NaN,4.93,NaN,None,230,231,0,...,0.0,0.5,3.10,0.00,1.0,34.05,NaN,NaN,NaN,NaN
125615061,1,2023-03-31 23:55:18,2023-04-01 00:06:17,NaN,1.00,NaN,None,148,211,0,...,1.0,0.5,1.64,0.00,1.0,18.04,NaN,NaN,NaN,NaN
125615062,2,2023-03-31 23:18:00,2023-03-31 23:53:00,NaN,8.82,NaN,None,160,188,0,...,0.0,0.5,7.11,0.00,1.0,42.66,NaN,NaN,NaN,NaN
125615063,2,2023-03-31 23:38:00,2023-04-01 00:12:00,NaN,12.14,NaN,None,7,188,0,...,0.0,0.5,0.00,0.00,1.0,37.06,NaN,NaN,NaN,NaN
125615064,1,2023-03-31 23:14:40,2023-03-31 23:20:42,NaN,1.60,NaN,None,141,263,0,...,1.0,0.5,1.43,0.00,1.0,15.73,NaN,NaN,NaN,NaN
125615065,2,2023-03-31 23:13:54,2023-03-31 23:26:58,NaN,3.06,NaN,None,137,263,0,...,0.0,0.5,0.00,0.00,1.0,23.21,NaN,NaN,NaN,NaN
125615066,2,2023-03-31 23:43:56,2023-04-01 00:09:45,NaN,5.17,NaN,None,113,151,0,...,0.0,0.5,8.25,0.00,1.0,41.25,NaN,NaN,NaN,NaN
125615067,2,2023-03-31 23:21:09,2023-03-31 23:31:25,NaN,1.57,NaN,None,45,79,0,...,0.0,0.5,0.00,0.00,1.0,15.41,NaN,NaN,NaN,NaN
125615068,2,2023-03-31 23:44:00,2023-04-01 00:17:00,NaN,5.52,NaN,None,230,223,0,...,0.0,0.5,6.16,0.00,1.0,36.94,NaN,NaN,NaN,NaN
125615069,2,2023-03-31 23:13:00,2023-03-31 23:25:00,NaN,2.48,NaN,None,74,141,0,...,0.0,0.5,0.00,0.00,1.0,15.27,NaN,NaN,NaN,NaN
125615070,2,2023-03-31 23:11:21,2023-03-31 23:31:38,NaN,4.56,NaN,None,231,80,0,...,0.0,0.5,1.31,0.00,1.0,27.58,NaN,NaN,NaN,NaN
125615071,2,2023-03-31 23:24:25,2023-03-31 23:40:54,NaN,3.16,NaN,None,163,75,0,...,0.0,0.5,4.23,0.00,1.0,20.36,NaN,NaN,NaN,NaN
125615072,2,2023-03-31 23:24:50,2023-04-01 00:04:12,NaN,6.89,NaN,None,125,198,0,...,0.0,0.5,8.98,0.00,1.0,53.90,NaN,NaN,NaN,NaN
125615073,2,2023-03-31 23:26:31,2023-03-31 23:49:39,NaN,4.01,NaN,None,50,224,0,...,0.0,0.5,0.00,0.00,1.0,28.02,NaN,NaN,NaN,NaN
125615074,2,2023-03-31 23:07:51,2023-03-31 23:15:56,NaN,1.31,NaN,None,113,158,0,...,0.0,0.5,3.50,0.00,1.0,16.01,NaN,NaN,NaN,NaN
125615075,2,2023-03-31 23:26:12,2023-03-31 23:31:47,NaN,0.88,NaN,None,41,166,0,...,0.0,0.5,2.25,0.00,1.0,17.26,NaN,NaN,NaN,NaN

In [2]:
date_col = "tpep_pickup_datetime"  # 如果名字不一样，把这里改成你实际的列名

print("最早时间：", data[date_col].min())
print("最晚时间：", data[date_col].max())

最早时间： 2001-01-01 00:06:49
最晚时间： 2026-06-26 23:53:12

In [3]:
date_counts = data[date_col].dt.date.value_counts().sort_index()
print(date_counts)

tpep_pickup_datetime
2001-01-01         6
2002-12-31        23
2003-01-01         6
2007-12-05         1
2008-12-31        37
               ...
2025-09-28    138200
2025-09-29    124242
2025-09-30    140454
2025-10-01         1
2026-06-26         2
Name: count, Length: 1106, dtype: int64

In [9]:
#Clean Data based on Date
date_col = "tpep_pickup_datetime"

data[date_col] = pd.to_datetime(data[date_col])
start_date = pd.to_datetime("2022-10-01")
end_date   = pd.to_datetime("2025-10-01")

filtered = data[(data[date_col] >= start_date) & (data[date_col] <= end_date)]

print("筛完后的行数：", filtered.shape)

筛完后的行数： (125614879, 21)

In [10]:
date_col = "tpep_pickup_datetime"

print("筛选后最早时间: ", filtered[date_col].min())
print("筛选后最晚时间: ", filtered[date_col].max())

筛选后最早时间:  2022-10-01 00:00:00
筛选后最晚时间:  2025-09-30 23:59:59

In [11]:
date_col = "tpep_pickup_datetime"

date_counts = filtered[date_col].dt.date.value_counts().sort_index()

print(date_counts)

tpep_pickup_datetime
2022-10-01    118049
2022-10-02     95806
2022-10-03    108671
2022-10-04    109671
2022-10-05    114764
               ...
2025-09-26    155360
2025-09-27    163820
2025-09-28    138200
2025-09-29    124242
2025-09-30    140454
Name: count, Length: 1096, dtype: int64

In [12]:
# 导出清洗后的 parquet 文件
filtered.to_parquet("yellow_taxi_2022_2025_clean.parquet", index=False)

print("已成功保存为 yellow_taxi_2022_2025_clean.parquet")

已成功保存为 yellow_taxi_2022_2025_clean.parquet

In [13]:
data2 = pd.read_parquet("yellow_taxi_2022_2025_clean.parquet")
data2.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee,cbd_congestion_fee
0,1,2023-06-01 00:08:48,2023-06-01 00:29:41,1.0,3.40,1.0,N,140,238,1,...,3.50,0.5,6.70,0.00,1.0,33.60,2.5,0.00,NaN,NaN
1,1,2023-06-01 00:15:04,2023-06-01 00:25:18,0.0,3.40,1.0,N,50,151,1,...,3.50,0.5,3.00,0.00,1.0,23.60,2.5,0.00,NaN,NaN
2,1,2023-06-01 00:48:24,2023-06-01 01:07:07,1.0,10.20,1.0,N,138,97,1,...,7.75,0.5,10.00,0.00,1.0,60.05,0.0,1.75,NaN,NaN
3,2,2023-06-01 00:54:03,2023-06-01 01:17:29,3.0,9.83,1.0,N,100,244,1,...,1.00,0.5,8.88,0.00,1.0,53.28,2.5,0.00,NaN,NaN
4,2,2023-06-01 00:18:44,2023-06-01 00:27:18,1.0,1.17,1.0,N,137,234,1,...,1.00,0.5,0.72,0.00,1.0,15.02,2.5,0.00,NaN,NaN
5,1,2023-06-01 00:32:36,2023-06-01 00:45:52,2.0,3.60,1.0,N,249,33,1,...,3.50,0.5,4.65,0.00,1.0,28.05,2.5,0.00,NaN,NaN
6,2,2023-06-01 00:31:55,2023-06-01 00:50:51,1.0,3.08,1.0,N,141,226,1,...,1.00,0.5,2.00,0.00,1.0,26.80,2.5,0.00,NaN,NaN
7,1,2023-06-01 00:55:30,2023-06-01 01:04:17,2.0,1.10,1.0,N,246,50,1,...,3.50,0.5,3.00,0.00,1.0,18.00,2.5,0.00,NaN,NaN
8,2,2023-06-01 00:11:50,2023-06-01 00:15:47,1.0,0.99,1.0,N,186,234,1,...,1.00,0.5,1.72,0.00,1.0,13.22,2.5,0.00,NaN,NaN
9,2,2023-06-01 00:25:03,2023-06-01 00:27:54,1.0,0.73,1.0,N,142,161,2,...,1.00,0.5,0.00,0.00,1.0,10.10,2.5,0.00,NaN,NaN
10,2,2023-06-01 00:53:53,2023-06-01 01:10:21,1.0,5.43,1.0,N,234,166,1,...,1.00,0.5,5.66,0.00,1.0,33.96,2.5,0.00,NaN,NaN
11,2,2023-06-01 00:26:50,2023-06-01 00:34:49,1.0,1.68,1.0,N,249,170,1,...,1.00,0.5,3.14,0.00,1.0,18.84,2.5,0.00,NaN,NaN
12,1,2023-06-01 00:26:57,2023-06-01 00:39:13,1.0,2.10,1.0,N,50,158,1,...,3.50,0.5,3.00,0.00,1.0,22.20,2.5,0.00,NaN,NaN
13,2,2023-06-01 00:05:34,2023-06-01 00:23:54,1.0,3.72,1.0,N,239,90,1,...,1.00,0.5,5.10,0.00,1.0,30.60,2.5,0.00,NaN,NaN
14,2,2023-06-01 00:31:14,2023-06-01 00:36:04,1.0,0.98,1.0,N,249,125,1,...,1.00,0.5,2.44,0.00,1.0,14.64,2.5,0.00,NaN,NaN
15,2,2023-06-01 00:06:14,2023-06-01 00:15:36,1.0,1.91,1.0,N,148,170,1,...,1.00,0.5,1.00,0.00,1.0,17.40,2.5,0.00,NaN,NaN
16,2,2023-06-01 00:39:29,2023-06-01 00:44:49,1.0,1.42,1.0,N,137,229,1,...,1.00,0.5,2.40,0.00,1.0,16.00,2.5,0.00,NaN,NaN
17,2,2023-06-01 00:14:27,2023-06-01 00:51:40,4.0,25.36,1.0,N,132,228,1,...,1.00,0.5,19.66,0.00,1.0,117.96,2.5,0.00,NaN,NaN
18,2,2023-06-01 00:13:14,2023-06-01 00:52:35,5.0,22.98,1.0,N,132,241,1,...,1.00,0.5,19.56,6.55,1.0,117.36,0.0,1.75,NaN,NaN
19,2,2023-06-01 00:23:48,2023-06-01 00:32:29,1.0,0.75,1.0,N,186,137,1,...,1.00,0.5,2.72,0.00,1.0,16.32,2.5,0.00,NaN,NaN

In [14]:
data2.tail(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee,cbd_congestion_fee
125614859,1,2023-03-31 23:21:56,2023-03-31 23:31:45,NaN,1.90,NaN,None,90,246,0,...,1.0,0.5,3.42,0.0,1.0,20.52,NaN,NaN,NaN,NaN
125614860,2,2023-03-31 23:59:13,2023-04-01 00:27:49,NaN,5.68,NaN,None,181,170,0,...,0.0,0.5,0.00,0.0,1.0,27.45,NaN,NaN,NaN,NaN
125614861,2,2023-03-31 23:58:29,2023-04-01 00:13:09,NaN,4.72,NaN,None,25,4,0,...,0.0,0.5,4.64,0.0,1.0,27.83,NaN,NaN,NaN,NaN
125614862,2,2023-03-31 23:24:41,2023-03-31 23:38:32,NaN,5.83,NaN,None,75,127,0,...,0.0,0.5,0.00,0.0,1.0,21.58,NaN,NaN,NaN,NaN
125614863,2,2023-03-31 23:24:00,2023-03-31 23:51:00,NaN,4.93,NaN,None,230,231,0,...,0.0,0.5,3.10,0.0,1.0,34.05,NaN,NaN,NaN,NaN
125614864,1,2023-03-31 23:55:18,2023-04-01 00:06:17,NaN,1.00,NaN,None,148,211,0,...,1.0,0.5,1.64,0.0,1.0,18.04,NaN,NaN,NaN,NaN
125614865,2,2023-03-31 23:18:00,2023-03-31 23:53:00,NaN,8.82,NaN,None,160,188,0,...,0.0,0.5,7.11,0.0,1.0,42.66,NaN,NaN,NaN,NaN
125614866,2,2023-03-31 23:38:00,2023-04-01 00:12:00,NaN,12.14,NaN,None,7,188,0,...,0.0,0.5,0.00,0.0,1.0,37.06,NaN,NaN,NaN,NaN
125614867,1,2023-03-31 23:14:40,2023-03-31 23:20:42,NaN,1.60,NaN,None,141,263,0,...,1.0,0.5,1.43,0.0,1.0,15.73,NaN,NaN,NaN,NaN
125614868,2,2023-03-31 23:13:54,2023-03-31 23:26:58,NaN,3.06,NaN,None,137,263,0,...,0.0,0.5,0.00,0.0,1.0,23.21,NaN,NaN,NaN,NaN
125614869,2,2023-03-31 23:43:56,2023-04-01 00:09:45,NaN,5.17,NaN,None,113,151,0,...,0.0,0.5,8.25,0.0,1.0,41.25,NaN,NaN,NaN,NaN
125614870,2,2023-03-31 23:21:09,2023-03-31 23:31:25,NaN,1.57,NaN,None,45,79,0,...,0.0,0.5,0.00,0.0,1.0,15.41,NaN,NaN,NaN,NaN
125614871,2,2023-03-31 23:44:00,2023-04-01 00:17:00,NaN,5.52,NaN,None,230,223,0,...,0.0,0.5,6.16,0.0,1.0,36.94,NaN,NaN,NaN,NaN
125614872,2,2023-03-31 23:13:00,2023-03-31 23:25:00,NaN,2.48,NaN,None,74,141,0,...,0.0,0.5,0.00,0.0,1.0,15.27,NaN,NaN,NaN,NaN
125614873,2,2023-03-31 23:11:21,2023-03-31 23:31:38,NaN,4.56,NaN,None,231,80,0,...,0.0,0.5,1.31,0.0,1.0,27.58,NaN,NaN,NaN,NaN
125614874,2,2023-03-31 23:24:25,2023-03-31 23:40:54,NaN,3.16,NaN,None,163,75,0,...,0.0,0.5,4.23,0.0,1.0,20.36,NaN,NaN,NaN,NaN
125614875,2,2023-03-31 23:24:50,2023-04-01 00:04:12,NaN,6.89,NaN,None,125,198,0,...,0.0,0.5,8.98,0.0,1.0,53.90,NaN,NaN,NaN,NaN
125614876,2,2023-03-31 23:26:31,2023-03-31 23:49:39,NaN,4.01,NaN,None,50,224,0,...,0.0,0.5,0.00,0.0,1.0,28.02,NaN,NaN,NaN,NaN
125614877,2,2023-03-31 23:07:51,2023-03-31 23:15:56,NaN,1.31,NaN,None,113,158,0,...,0.0,0.5,3.50,0.0,1.0,16.01,NaN,NaN,NaN,NaN
125614878,2,2023-03-31 23:26:12,2023-03-31 23:31:47,NaN,0.88,NaN,None,41,166,0,...,0.0,0.5,2.25,0.0,1.0,17.26,NaN,NaN,NaN,NaN

In [15]:
data2 = data2.sort_values(by="tpep_pickup_datetime")
data2.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee,cbd_congestion_fee
3309241,2,2022-10-01 00:00:00,2022-10-01 00:18:21,1.0,9.06,1.0,N,138,107,1,...,0.5,0.5,6.00,6.55,0.3,44.10,2.5,NaN,1.25,NaN
3308659,2,2022-10-01 00:00:00,2022-10-01 00:10:30,1.0,2.28,1.0,N,164,237,1,...,0.5,0.5,2.66,0.00,0.3,15.96,2.5,NaN,0.00,NaN
3307260,1,2022-10-01 00:00:00,2022-10-01 00:18:42,1.0,2.60,1.0,N,114,79,1,...,3.0,0.5,3.45,0.00,0.3,20.75,2.5,NaN,0.00,NaN
3311779,2,2022-10-01 00:00:01,2022-10-01 00:08:56,1.0,1.03,1.0,N,113,148,1,...,0.5,0.5,3.39,0.00,0.3,14.69,2.5,NaN,0.00,NaN
3308080,2,2022-10-01 00:00:01,2022-10-01 00:03:56,1.0,1.47,1.0,N,239,151,1,...,0.5,0.5,2.45,0.00,0.3,12.25,2.5,NaN,0.00,NaN
3308392,2,2022-10-01 00:00:01,2022-10-01 00:26:46,1.0,5.71,1.0,N,164,7,1,...,0.5,0.5,2.00,0.00,0.3,27.80,2.5,NaN,0.00,NaN
3310400,2,2022-10-01 00:00:01,2022-10-01 00:05:11,4.0,0.98,1.0,N,238,236,1,...,0.5,0.5,1.96,0.00,0.3,11.76,2.5,NaN,0.00,NaN
3309135,1,2022-10-01 00:00:02,2022-10-01 00:20:56,1.0,2.20,1.0,N,79,79,1,...,3.0,0.5,3.55,0.00,0.3,21.35,2.5,NaN,0.00,NaN
6849757,2,2022-10-01 00:00:02,2022-10-01 00:11:27,NaN,2.12,NaN,None,90,230,0,...,0.0,0.5,3.49,0.00,0.3,18.36,NaN,NaN,NaN,NaN
3312136,2,2022-10-01 00:00:02,2022-10-01 00:25:46,1.0,10.20,1.0,N,132,36,1,...,0.5,0.5,7.83,0.00,0.3,40.38,0.0,NaN,1.25,NaN
3310242,1,2022-10-01 00:00:03,2022-10-01 00:10:43,4.0,1.50,1.0,N,229,170,1,...,3.0,0.5,2.25,0.00,0.3,13.55,2.5,NaN,0.00,NaN
3308746,2,2022-10-01 00:00:03,2022-10-01 00:09:57,2.0,1.55,1.0,N,79,170,1,...,0.5,0.5,1.84,0.00,0.3,14.14,2.5,NaN,0.00,NaN
3311537,2,2022-10-01 00:00:03,2022-10-01 00:15:48,1.0,2.88,1.0,N,148,100,1,...,0.5,0.5,3.36,0.00,0.3,20.16,2.5,NaN,0.00,NaN
3309317,1,2022-10-01 00:00:03,2022-10-01 00:07:50,1.0,1.70,1.0,N,79,164,1,...,3.0,0.5,8.00,0.00,0.3,19.80,2.5,NaN,0.00,NaN
3310173,2,2022-10-01 00:00:03,2022-10-01 00:08:19,1.0,2.18,1.0,N,264,236,2,...,0.5,0.5,0.00,0.00,0.3,12.30,2.5,NaN,0.00,NaN
3307613,1,2022-10-01 00:00:05,2022-10-01 00:06:14,1.0,1.10,1.0,N,48,142,1,...,2.5,0.5,1.85,0.00,0.3,11.15,2.5,NaN,0.00,NaN
3308008,2,2022-10-01 00:00:05,2022-10-01 00:02:32,3.0,0.61,1.0,N,237,236,1,...,0.5,0.5,2.08,0.00,0.3,10.38,2.5,NaN,0.00,NaN
3308770,2,2022-10-01 00:00:06,2022-10-01 00:05:01,1.0,0.71,1.0,N,246,186,1,...,0.5,0.5,1.76,0.00,0.3,10.56,2.5,NaN,0.00,NaN
3309715,2,2022-10-01 00:00:07,2022-10-01 00:03:03,1.0,0.62,1.0,N,137,107,1,...,0.5,0.5,1.66,0.00,0.3,9.96,2.5,NaN,0.00,NaN
3311995,2,2022-10-01 00:00:07,2022-10-01 00:19:45,1.0,3.90,1.0,N,246,141,1,...,0.5,0.5,2.00,0.00,0.3,21.30,2.5,NaN,0.00,NaN

In [16]:
data2.tail(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee,cbd_congestion_fee
48213616,2,2025-09-30 23:59:36,2025-10-01 00:06:55,2.0,1.48,1.0,N,113,170,1,...,1.00,0.5,2.00,0.00,1.0,17.75,2.5,0.00,NaN,0.75
48214394,2,2025-09-30 23:59:37,2025-10-01 00:00:02,2.0,0.01,1.0,N,132,132,4,...,-1.00,-0.5,0.00,0.00,-1.0,-7.25,0.0,-1.75,NaN,0.00
48214395,2,2025-09-30 23:59:37,2025-10-01 00:00:02,2.0,0.01,1.0,N,132,132,4,...,1.00,0.5,0.00,0.00,1.0,7.25,0.0,1.75,NaN,0.00
48212789,2,2025-09-30 23:59:37,2025-10-01 00:24:08,1.0,5.54,1.0,N,79,239,2,...,1.00,0.5,0.00,0.00,1.0,34.65,2.5,0.00,NaN,0.75
48213323,2,2025-09-30 23:59:39,2025-10-01 00:15:30,1.0,4.08,1.0,N,170,166,1,...,1.00,0.5,6.39,0.00,1.0,31.94,2.5,0.00,NaN,0.75
48213089,2,2025-09-30 23:59:43,2025-10-01 00:18:45,2.0,2.61,1.0,N,186,142,1,...,1.00,0.5,7.24,0.00,1.0,31.39,2.5,0.00,NaN,0.75
48214005,2,2025-09-30 23:59:44,2025-10-01 00:05:40,1.0,0.74,1.0,N,161,230,1,...,1.00,0.5,2.00,0.00,1.0,14.95,2.5,0.00,NaN,0.75
48214843,2,2025-09-30 23:59:45,2025-10-01 00:25:13,1.0,9.99,1.0,N,138,68,1,...,6.00,0.5,14.62,6.94,1.0,74.86,2.5,1.75,NaN,0.75
48214881,2,2025-09-30 23:59:47,2025-10-01 00:09:54,1.0,1.70,1.0,N,163,141,1,...,1.00,0.5,3.43,0.00,1.0,20.58,2.5,0.00,NaN,0.75
48212465,2,2025-09-30 23:59:48,2025-10-01 00:12:04,1.0,1.71,1.0,N,161,137,1,...,1.00,0.5,2.68,0.00,1.0,20.53,2.5,0.00,NaN,0.75
49281453,2,2025-09-30 23:59:51,2025-10-01 00:19:51,NaN,9.44,NaN,None,48,235,0,...,0.00,0.5,0.00,0.00,1.0,35.56,NaN,NaN,NaN,0.75
48215080,2,2025-09-30 23:59:51,2025-10-01 00:13:26,2.0,3.40,1.0,N,229,74,2,...,1.00,0.5,0.00,0.00,1.0,21.35,2.5,0.00,NaN,0.75
49282091,2,2025-09-30 23:59:51,2025-10-01 00:10:06,NaN,5.01,NaN,None,126,42,0,...,0.00,0.5,0.00,0.00,1.0,17.19,NaN,NaN,NaN,0.00
48212221,2,2025-09-30 23:59:52,2025-10-01 00:06:49,1.0,1.78,1.0,N,263,233,1,...,1.00,0.5,3.15,0.00,1.0,18.90,2.5,0.00,NaN,0.75
48212364,1,2025-09-30 23:59:55,2025-10-01 00:11:14,1.0,3.00,1.0,N,114,229,1,...,3.25,0.5,2.00,0.00,1.0,20.95,2.5,0.00,NaN,0.75
49281229,2,2025-09-30 23:59:55,2025-10-01 00:07:19,NaN,1.21,NaN,None,230,164,0,...,0.00,0.5,0.00,0.00,1.0,2.00,NaN,NaN,NaN,0.75
48212964,1,2025-09-30 23:59:57,2025-10-01 00:06:53,1.0,1.40,1.0,N,107,161,2,...,3.25,0.5,0.00,0.00,1.0,14.05,2.5,0.00,NaN,0.75
49281667,2,2025-09-30 23:59:57,2025-10-01 00:16:53,NaN,4.52,NaN,None,158,141,0,...,0.00,0.5,0.00,0.00,1.0,24.01,NaN,NaN,NaN,0.75
48213702,2,2025-09-30 23:59:59,2025-10-01 00:15:45,1.0,9.26,1.0,N,70,141,1,...,6.00,0.5,7.20,6.94,1.0,62.49,2.5,1.75,NaN,0.00
48214207,1,2025-09-30 23:59:59,2025-10-01 00:42:28,1.0,4.80,1.0,N,161,7,1,...,3.25,0.5,12.00,0.00,1.0,51.95,2.5,0.00,NaN,0.75

In [18]:
data2.to_parquet("yellow_taxi_2022_2025_sorted.parquet", index=False)

print("Successful")

Successful

In [19]:
cleaned_data = pd.read_parquet("yellow_taxi_2022_2025_sorted.parquet")
cleaned_data.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee,cbd_congestion_fee
0,2,2022-10-01 00:00:00,2022-10-01 00:18:21,1.0,9.06,1.0,N,138,107,1,...,0.5,0.5,6.00,6.55,0.3,44.10,2.5,NaN,1.25,NaN
1,2,2022-10-01 00:00:00,2022-10-01 00:10:30,1.0,2.28,1.0,N,164,237,1,...,0.5,0.5,2.66,0.00,0.3,15.96,2.5,NaN,0.00,NaN
2,1,2022-10-01 00:00:00,2022-10-01 00:18:42,1.0,2.60,1.0,N,114,79,1,...,3.0,0.5,3.45,0.00,0.3,20.75,2.5,NaN,0.00,NaN
3,2,2022-10-01 00:00:01,2022-10-01 00:08:56,1.0,1.03,1.0,N,113,148,1,...,0.5,0.5,3.39,0.00,0.3,14.69,2.5,NaN,0.00,NaN
4,2,2022-10-01 00:00:01,2022-10-01 00:03:56,1.0,1.47,1.0,N,239,151,1,...,0.5,0.5,2.45,0.00,0.3,12.25,2.5,NaN,0.00,NaN
5,2,2022-10-01 00:00:01,2022-10-01 00:26:46,1.0,5.71,1.0,N,164,7,1,...,0.5,0.5,2.00,0.00,0.3,27.80,2.5,NaN,0.00,NaN
6,2,2022-10-01 00:00:01,2022-10-01 00:05:11,4.0,0.98,1.0,N,238,236,1,...,0.5,0.5,1.96,0.00,0.3,11.76,2.5,NaN,0.00,NaN
7,1,2022-10-01 00:00:02,2022-10-01 00:20:56,1.0,2.20,1.0,N,79,79,1,...,3.0,0.5,3.55,0.00,0.3,21.35,2.5,NaN,0.00,NaN
8,2,2022-10-01 00:00:02,2022-10-01 00:11:27,NaN,2.12,NaN,None,90,230,0,...,0.0,0.5,3.49,0.00,0.3,18.36,NaN,NaN,NaN,NaN
9,2,2022-10-01 00:00:02,2022-10-01 00:25:46,1.0,10.20,1.0,N,132,36,1,...,0.5,0.5,7.83,0.00,0.3,40.38,0.0,NaN,1.25,NaN
10,1,2022-10-01 00:00:03,2022-10-01 00:10:43,4.0,1.50,1.0,N,229,170,1,...,3.0,0.5,2.25,0.00,0.3,13.55,2.5,NaN,0.00,NaN
11,2,2022-10-01 00:00:03,2022-10-01 00:09:57,2.0,1.55,1.0,N,79,170,1,...,0.5,0.5,1.84,0.00,0.3,14.14,2.5,NaN,0.00,NaN
12,2,2022-10-01 00:00:03,2022-10-01 00:15:48,1.0,2.88,1.0,N,148,100,1,...,0.5,0.5,3.36,0.00,0.3,20.16,2.5,NaN,0.00,NaN
13,1,2022-10-01 00:00:03,2022-10-01 00:07:50,1.0,1.70,1.0,N,79,164,1,...,3.0,0.5,8.00,0.00,0.3,19.80,2.5,NaN,0.00,NaN
14,2,2022-10-01 00:00:03,2022-10-01 00:08:19,1.0,2.18,1.0,N,264,236,2,...,0.5,0.5,0.00,0.00,0.3,12.30,2.5,NaN,0.00,NaN
15,1,2022-10-01 00:00:05,2022-10-01 00:06:14,1.0,1.10,1.0,N,48,142,1,...,2.5,0.5,1.85,0.00,0.3,11.15,2.5,NaN,0.00,NaN
16,2,2022-10-01 00:00:05,2022-10-01 00:02:32,3.0,0.61,1.0,N,237,236,1,...,0.5,0.5,2.08,0.00,0.3,10.38,2.5,NaN,0.00,NaN
17,2,2022-10-01 00:00:06,2022-10-01 00:05:01,1.0,0.71,1.0,N,246,186,1,...,0.5,0.5,1.76,0.00,0.3,10.56,2.5,NaN,0.00,NaN
18,2,2022-10-01 00:00:07,2022-10-01 00:03:03,1.0,0.62,1.0,N,137,107,1,...,0.5,0.5,1.66,0.00,0.3,9.96,2.5,NaN,0.00,NaN
19,2,2022-10-01 00:00:07,2022-10-01 00:19:45,1.0,3.90,1.0,N,246,141,1,...,0.5,0.5,2.00,0.00,0.3,21.30,2.5,NaN,0.00,NaN

In [20]:
cleaned_data.tail(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,airport_fee,cbd_congestion_fee
125614859,2,2025-09-30 23:59:36,2025-10-01 00:06:55,2.0,1.48,1.0,N,113,170,1,...,1.00,0.5,2.00,0.00,1.0,17.75,2.5,0.00,NaN,0.75
125614860,2,2025-09-30 23:59:37,2025-10-01 00:00:02,2.0,0.01,1.0,N,132,132,4,...,-1.00,-0.5,0.00,0.00,-1.0,-7.25,0.0,-1.75,NaN,0.00
125614861,2,2025-09-30 23:59:37,2025-10-01 00:00:02,2.0,0.01,1.0,N,132,132,4,...,1.00,0.5,0.00,0.00,1.0,7.25,0.0,1.75,NaN,0.00
125614862,2,2025-09-30 23:59:37,2025-10-01 00:24:08,1.0,5.54,1.0,N,79,239,2,...,1.00,0.5,0.00,0.00,1.0,34.65,2.5,0.00,NaN,0.75
125614863,2,2025-09-30 23:59:39,2025-10-01 00:15:30,1.0,4.08,1.0,N,170,166,1,...,1.00,0.5,6.39,0.00,1.0,31.94,2.5,0.00,NaN,0.75
125614864,2,2025-09-30 23:59:43,2025-10-01 00:18:45,2.0,2.61,1.0,N,186,142,1,...,1.00,0.5,7.24,0.00,1.0,31.39,2.5,0.00,NaN,0.75
125614865,2,2025-09-30 23:59:44,2025-10-01 00:05:40,1.0,0.74,1.0,N,161,230,1,...,1.00,0.5,2.00,0.00,1.0,14.95,2.5,0.00,NaN,0.75
125614866,2,2025-09-30 23:59:45,2025-10-01 00:25:13,1.0,9.99,1.0,N,138,68,1,...,6.00,0.5,14.62,6.94,1.0,74.86,2.5,1.75,NaN,0.75
125614867,2,2025-09-30 23:59:47,2025-10-01 00:09:54,1.0,1.70,1.0,N,163,141,1,...,1.00,0.5,3.43,0.00,1.0,20.58,2.5,0.00,NaN,0.75
125614868,2,2025-09-30 23:59:48,2025-10-01 00:12:04,1.0,1.71,1.0,N,161,137,1,...,1.00,0.5,2.68,0.00,1.0,20.53,2.5,0.00,NaN,0.75
125614869,2,2025-09-30 23:59:51,2025-10-01 00:19:51,NaN,9.44,NaN,None,48,235,0,...,0.00,0.5,0.00,0.00,1.0,35.56,NaN,NaN,NaN,0.75
125614870,2,2025-09-30 23:59:51,2025-10-01 00:13:26,2.0,3.40,1.0,N,229,74,2,...,1.00,0.5,0.00,0.00,1.0,21.35,2.5,0.00,NaN,0.75
125614871,2,2025-09-30 23:59:51,2025-10-01 00:10:06,NaN,5.01,NaN,None,126,42,0,...,0.00,0.5,0.00,0.00,1.0,17.19,NaN,NaN,NaN,0.00
125614872,2,2025-09-30 23:59:52,2025-10-01 00:06:49,1.0,1.78,1.0,N,263,233,1,...,1.00,0.5,3.15,0.00,1.0,18.90,2.5,0.00,NaN,0.75
125614873,1,2025-09-30 23:59:55,2025-10-01 00:11:14,1.0,3.00,1.0,N,114,229,1,...,3.25,0.5,2.00,0.00,1.0,20.95,2.5,0.00,NaN,0.75
125614874,2,2025-09-30 23:59:55,2025-10-01 00:07:19,NaN,1.21,NaN,None,230,164,0,...,0.00,0.5,0.00,0.00,1.0,2.00,NaN,NaN,NaN,0.75
125614875,1,2025-09-30 23:59:57,2025-10-01 00:06:53,1.0,1.40,1.0,N,107,161,2,...,3.25,0.5,0.00,0.00,1.0,14.05,2.5,0.00,NaN,0.75
125614876,2,2025-09-30 23:59:57,2025-10-01 00:16:53,NaN,4.52,NaN,None,158,141,0,...,0.00,0.5,0.00,0.00,1.0,24.01,NaN,NaN,NaN,0.75
125614877,2,2025-09-30 23:59:59,2025-10-01 00:15:45,1.0,9.26,1.0,N,70,141,1,...,6.00,0.5,7.20,6.94,1.0,62.49,2.5,1.75,NaN,0.00
125614878,1,2025-09-30 23:59:59,2025-10-01 00:42:28,1.0,4.80,1.0,N,161,7,1,...,3.25,0.5,12.00,0.00,1.0,51.95,2.5,0.00,NaN,0.75

In [21]:
date_counts = cleaned_data[date_col].dt.date.value_counts().sort_index()
print(date_counts)

tpep_pickup_datetime
2022-10-01    118049
2022-10-02     95806
2022-10-03    108671
2022-10-04    109671
2022-10-05    114764
               ...
2025-09-26    155360
2025-09-27    163820
2025-09-28    138200
2025-09-29    124242
2025-09-30    140454
Name: count, Length: 1096, dtype: int64

In [22]:
print(cleaned_data.shape)

(125614879, 21)

In [23]:
# Check null
missing_values = cleaned_data.isnull().sum()

missing_percentage = (missing_values / len(cleaned_data)) * 100

print(f"Missing values (%):\n{missing_percentage}")

Missing values (%):
VendorID                  0.000000
tpep_pickup_datetime      0.000000
tpep_dropoff_datetime     0.000000
passenger_count          11.298673
trip_distance             0.000000
RatecodeID               11.298673
store_and_fwd_flag       11.298673
PULocationID              0.000000
DOLocationID              0.000000
payment_type              0.000000
fare_amount               0.000000
extra                     0.000000
mta_tax                   0.000000
tip_amount                0.000000
tolls_amount              0.000000
improvement_surcharge     0.000000
total_amount              0.000000
congestion_surcharge     11.298673
Airport_fee              21.600931
airport_fee              89.697743
cbd_congestion_fee       71.494263
dtype: float64

In [25]:
import pandas as pd

target_codes = [1, 2, 3, 4, 5, 6]

rate_counts = cleaned_data["RatecodeID"].value_counts()

# 构建完整表格
result = pd.Series({code: rate_counts.get(code, 0) for code in target_codes})

print(result)

1    104324246
2      4280520
3       394584
4       277524
5       956135
6          250
dtype: int64