In [1]:
import io
import pandas as pd
import psycopg
import time

# æ•°æ®åº“é…ç½®
PG_HOST = "localhost"
PG_PORT = 5432
PG_DB   = "taxi"
PG_USER = "postgres"
PG_PASS = "123"

def load_cleaned_parquet_to_postgres(path, max_rows=100000):
    """
    æŠŠæ¸…æ´—å¥½çš„ yellow_taxi parquet æ–‡ä»¶
    å¿«é€Ÿæ‰¹é‡å¯¼å…¥åˆ° PostgreSQL è¡¨ yellow_taxi_clean
    
    å‚æ•°:
        path: parquet æ–‡ä»¶è·¯å¾„
        max_rows: æœ€å¤§å¯¼å…¥è¡Œæ•°ï¼ŒNone è¡¨ç¤ºå¯¼å…¥å…¨éƒ¨æ•°æ®
    """
    print(f"Loading cleaned data from {path}")
    if max_rows:
        print(f"âš ï¸  æµ‹è¯•æ¨¡å¼: ä»…å¯¼å…¥å‰ {max_rows:,} è¡Œ")
    start_time = time.time()

    # 1. è¯»å– parquetï¼ˆæ·»åŠ  max_rows é™åˆ¶ï¼‰
    df = pd.read_parquet(path, engine="pyarrow")
    if max_rows:
        df = df.head(max_rows)
    
    load_time = time.time() - start_time
    print(f"Loaded parquet in {load_time:.1f}s - Shape: {df.shape}")

    # 2. åˆ—åç»Ÿä¸€æˆå°å†™ï¼Œæ–¹ä¾¿å¯¹é½ SQL
    df.columns = [c.lower() for c in df.columns]

    # 3. ç¡®ä¿æ—¶é—´åˆ—æ˜¯ datetime ç±»å‹
    if "tpep_pickup_datetime" in df.columns:
        df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    if "tpep_dropoff_datetime" in df.columns:
        df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

    # 4. å®šä¹‰è¦å¯¼å…¥çš„åˆ—ï¼Œé¡ºåºå¿…é¡»å’Œ yellow_taxi_clean è¡¨ä¸€è‡´
    cols = [
        "vendorid",
        "tpep_pickup_datetime",
        "tpep_dropoff_datetime",
        "passenger_count",
        "trip_distance",
        "ratecodeid",
        "pulocationid",
        "dolocationid",
        "payment_type",
        "fare_amount",
        "extra",
        "mta_tax",
        "tip_amount",
        "tolls_amount",
        "improvement_surcharge",
        "total_amount",
        "congestion_surcharge"
    ]

    # 5. åªä¿ç•™éœ€è¦çš„åˆ—
    copy_df = df[cols].copy()
    
    # 6. ç¡®ä¿æ•´æ•°åˆ—çš„æ•°æ®ç±»å‹æ­£ç¡®ï¼ˆé¿å… 1.0 è¿™æ ·çš„æµ®ç‚¹è¡¨ç¤ºï¼‰
    int_cols = ["vendorid", "passenger_count", "ratecodeid", "pulocationid", "dolocationid", "payment_type"]
    for col in int_cols:
        if col in copy_df.columns:
            # å°†æœ‰æ•ˆå€¼è½¬ä¸ºæ•´æ•°ï¼Œä¿æŒ NaN ä¸å˜
            copy_df[col] = copy_df[col].apply(lambda x: int(x) if pd.notna(x) else None)
    
    # 7. å¤„ç†å…¶ä½™ NaN -> NULL
    copy_df = copy_df.where(pd.notnull(copy_df), None)

    prep_time = time.time() - start_time - load_time
    print(f"Data prep completed in {prep_time:.1f}s - Rows to insert: {len(copy_df):,}")

    # 8. å†™å…¥å†…å­˜ CSV bufferï¼ˆä¾› COPY ä½¿ç”¨ï¼‰
    buffer = io.StringIO()
    copy_df.to_csv(buffer, index=False, header=False, na_rep='\\N')
    buffer.seek(0)

    csv_time = time.time() - start_time - load_time - prep_time
    print(f"CSV buffer created in {csv_time:.1f}s")

    # 9. ç”¨ COPY æ‰¹é‡æ’å…¥ PostgreSQL
    insert_start = time.time()
    conn = psycopg.connect(
        host=PG_HOST,
        port=PG_PORT,
        dbname=PG_DB,
        user=PG_USER,
        password=PG_PASS
    )
    
    try:
        with conn.cursor() as cur:
            # ä½¿ç”¨ copy() æ–¹æ³•çš„æ­£ç¡®æ–¹å¼
            with cur.copy(f"COPY yellow_taxi_clean({', '.join(cols)}) FROM STDIN WITH (FORMAT CSV, NULL '\\N')") as copy:
                while True:
                    data = buffer.read(8192)  # æ¯æ¬¡è¯»å– 8KB
                    if not data:
                        break
                    copy.write(data)
        
        # æ˜¾å¼æäº¤
        conn.commit()
        
        insert_time = time.time() - insert_start
        total_time = time.time() - start_time
        rows_per_sec = len(copy_df) / insert_time if insert_time > 0 else 0
        
        print(f"âœ… Inserted {len(copy_df):,} rows in {insert_time:.1f}s ({rows_per_sec:,.0f} rows/sec)")
        print(f"Total time: {total_time:.1f}s")
        
    except Exception as e:
        conn.rollback()
        print(f"âŒ COPY failed: {e}")
        raise
    finally:
        conn.close()


# ä¸»ç¨‹åº
if __name__ == "__main__":
    # å…ˆåˆ›å»ºè¡¨ï¼ˆå¦‚æœè¿˜æ²¡åˆ›å»ºï¼‰
    print("=== åˆ›å»ºè¡¨ yellow_taxi_clean ===")
    with psycopg.connect(
        host=PG_HOST, 
        port=PG_PORT, 
        dbname=PG_DB, 
        user=PG_USER, 
        password=PG_PASS, 
        autocommit=True
    ) as conn:
        with conn.cursor() as cur:
            cur.execute('''
                DROP TABLE IF EXISTS yellow_taxi_clean;

                CREATE TABLE yellow_taxi_clean (
                    VendorID INTEGER,
                    tpep_pickup_datetime TIMESTAMP,
                    tpep_dropoff_datetime TIMESTAMP,
                    passenger_count INTEGER,
                    trip_distance NUMERIC,
                    RatecodeID INTEGER,
                    PULocationID INTEGER,
                    DOLocationID INTEGER,
                    payment_type INTEGER,
                    fare_amount NUMERIC,
                    extra NUMERIC,
                    mta_tax NUMERIC,
                    tip_amount NUMERIC,
                    tolls_amount NUMERIC,
                    improvement_surcharge NUMERIC,
                    total_amount NUMERIC,
                    congestion_surcharge NUMERIC
                );
            ''')
    print('âœ… Table yellow_taxi_clean created\n')
    
    # å¯¼å…¥æ•°æ® - æµ‹è¯•æ¨¡å¼ï¼šåªå¯¼å…¥10ä¸‡æ¡
    print("=== å¼€å§‹å¯¼å…¥æ•°æ®ï¼ˆæµ‹è¯•æ¨¡å¼ï¼‰===")
    parquet_file = "yellow_taxi_2022_2025_final_cleaned.parquet"
    load_cleaned_parquet_to_postgres(parquet_file, max_rows=1000000)  # ğŸ‘ˆ é™åˆ¶10ä¸‡è¡Œ
    
    # éªŒè¯æ•°æ®
    print("\n=== éªŒè¯å¯¼å…¥ç»“æœ ===")
    with psycopg.connect(
        host=PG_HOST, 
        port=PG_PORT, 
        dbname=PG_DB, 
        user=PG_USER, 
        password=PG_PASS
    ) as conn:
        with conn.cursor() as cur:
            # æ€»è®°å½•æ•°
            cur.execute("SELECT COUNT(*) FROM yellow_taxi_clean;")
            count = cur.fetchone()[0]
            print(f"è¡¨ä¸­æ€»è®°å½•æ•°: {count:,}")
            
            # æ—¶é—´èŒƒå›´
            cur.execute("""
                SELECT 
                    MIN(tpep_pickup_datetime) as earliest,
                    MAX(tpep_pickup_datetime) as latest
                FROM yellow_taxi_clean;
            """)
            date_range = cur.fetchone()
            print(f"æ—¶é—´èŒƒå›´: {date_range[0]} ~ {date_range[1]}")
            
            # NULLå€¼ç»Ÿè®¡
            cur.execute("""
                SELECT 
                    COUNT(*) - COUNT(passenger_count) as null_passenger,
                    COUNT(*) - COUNT(trip_distance) as null_distance,
                    COUNT(*) - COUNT(fare_amount) as null_fare
                FROM yellow_taxi_clean;
            """)
            nulls = cur.fetchone()
            print(f"NULLå€¼ç»Ÿè®¡: passenger={nulls[0]}, distance={nulls[1]}, fare={nulls[2]}")
            
            # æŸ¥çœ‹å‰5æ¡
            cur.execute("SELECT * FROM yellow_taxi_clean LIMIT 5;")
            print("\nå‰5æ¡è®°å½•:")
            for row in cur.fetchall():
                print(row)
    
    print("\nâœ… å¯¼å…¥å®Œæˆï¼")
    print("\nğŸ’¡ æç¤º: æµ‹è¯•å®Œæˆåï¼Œå¦‚éœ€å¯¼å…¥å…¨éƒ¨æ•°æ®ï¼Œè¯·å°† max_rows=100000 æ”¹ä¸º max_rows=None")

=== åˆ›å»ºè¡¨ yellow_taxi_clean ===
âœ… Table yellow_taxi_clean created

=== å¼€å§‹å¯¼å…¥æ•°æ®ï¼ˆæµ‹è¯•æ¨¡å¼ï¼‰===
Loading cleaned data from yellow_taxi_2022_2025_final_cleaned.parquet
âš ï¸  æµ‹è¯•æ¨¡å¼: ä»…å¯¼å…¥å‰ 1,000,000 è¡Œ
Loaded parquet in 42.2s - Shape: (1000000, 17)
Data prep completed in 4.2s - Rows to insert: 1,000,000
CSV buffer created in 5.6s
âœ… Inserted 1,000,000 rows in 3.8s (266,488 rows/sec)
Total time: 55.8s

=== éªŒè¯å¯¼å…¥ç»“æœ ===
è¡¨ä¸­æ€»è®°å½•æ•°: 1,000,000
æ—¶é—´èŒƒå›´: 2022-10-01 00:00:00 ~ 2022-10-10 22:45:44
NULLå€¼ç»Ÿè®¡: passenger=0, distance=0, fare=0

å‰5æ¡è®°å½•:
(2, datetime.datetime(2022, 10, 1, 0, 0), datetime.datetime(2022, 10, 1, 0, 18, 21), 1, Decimal('9.06'), 1, 138, 107, 1, Decimal('26.5'), Decimal('0.5'), Decimal('0.5'), Decimal('6.0'), Decimal('6.55'), Decimal('0.3'), Decimal('44.1'), Decimal('2.5'))
(2, datetime.datetime(2022, 10, 1, 0, 0), datetime.datetime(2022, 10, 1, 0, 10, 30), 1, Decimal('2.28'), 1, 164, 237, 1, Decimal('9.5'), Decimal('0.5'), Decimal('0.5'), Decimal('2.66'), Decimal('0.0'), Decimal('0.3'), Decimal('15.96'), Decimal('2.5'))
(1, datetime.datetime(2022, 10, 1, 0, 0), datetime.datetime(2022, 10, 1, 0, 18, 42), 1, Decimal('2.6'), 1, 114, 79, 1, Decimal('13.5'), Decimal('3.0'), Decimal('0.5'), Decimal('3.45'), Decimal('0.0'), Decimal('0.3'), Decimal('20.75'), Decimal('2.5'))
(2, datetime.datetime(2022, 10, 1, 0, 0, 1), datetime.datetime(2022, 10, 1, 0, 8, 56), 1, Decimal('1.03'), 1, 113, 148, 1, Decimal('7.5'), Decimal('0.5'), Decimal('0.5'), Decimal('3.39'), Decimal('0.0'), Decimal('0.3'), Decimal('14.69'), Decimal('2.5'))
(2, datetime.datetime(2022, 10, 1, 0, 0, 1), datetime.datetime(2022, 10, 1, 0, 3, 56), 1, Decimal('1.47'), 1, 239, 151, 1, Decimal('6.0'), Decimal('0.5'), Decimal('0.5'), Decimal('2.45'), Decimal('0.0'), Decimal('0.3'), Decimal('12.25'), Decimal('2.5'))

âœ… å¯¼å…¥å®Œæˆï¼

ğŸ’¡ æç¤º: æµ‹è¯•å®Œæˆåï¼Œå¦‚éœ€å¯¼å…¥å…¨éƒ¨æ•°æ®ï¼Œè¯·å°† max_rows=100000 æ”¹ä¸º max_rows=None

In [3]:
import psycopg
import pandas as pd

# æ•°æ®åº“é…ç½®
PG_CONFIG = {
    "host": "localhost",
    "port": 5432,
    "dbname": "taxi",
    "user": "postgres",
    "password": "123"
}

# 1. è¯»å– CSV æ–‡ä»¶
print("ğŸ“– è¯»å– taxi_zone_lookup.csv...")
df = pd.read_csv('taxi_zone_lookup.csv')

print(f"âœ… è¯»å–æˆåŠŸï¼Œå…± {len(df)} æ¡è®°å½•")
print(f"ğŸ“Š åˆ—å: {list(df.columns)}")
print("\nå‰ 5 æ¡æ•°æ®:")
print(df.head())

# 2. åˆ›å»ºè¡¨
print("\n" + "="*60)
print("ğŸ—„ï¸  åˆ›å»º taxi_zone_lookup è¡¨...")

with psycopg.connect(**PG_CONFIG) as conn:
    with conn.cursor() as cur:
        # åˆ é™¤æ—§è¡¨ï¼ˆå¦‚æœå­˜åœ¨ï¼‰
        cur.execute("DROP TABLE IF EXISTS taxi_zone_lookup;")
        
        # åˆ›å»ºæ–°è¡¨
        cur.execute("""
            CREATE TABLE taxi_zone_lookup (
                LocationID INTEGER PRIMARY KEY,
                Borough VARCHAR(50),
                Zone VARCHAR(100),
                service_zone VARCHAR(50)
            );
        """)
        
        conn.commit()
        print("âœ… è¡¨åˆ›å»ºæˆåŠŸ")

# 3. å¯¼å…¥æ•°æ®
print("\n" + "="*60)
print("ğŸ“¥ å¯¼å…¥æ•°æ®åˆ°æ•°æ®åº“...")

# ç»Ÿä¸€åˆ—åï¼ˆå¦‚æœ CSV åˆ—åä¸ä¸€æ ·ï¼‰
# é€šå¸¸ CSV å¯èƒ½æ˜¯ LocationID, Borough, Zone, service_zone
# æˆ–è€… location_id, borough, zone, service_zone
df.columns = df.columns.str.strip()  # å»æ‰ç©ºæ ¼

# é‡å‘½ååˆ—ä»¥åŒ¹é…æ•°æ®åº“ï¼ˆå¦‚æœéœ€è¦ï¼‰
column_mapping = {
    'LocationID': 'LocationID',
    'location_id': 'LocationID',
    'LOCATIONID': 'LocationID',
    'Borough': 'Borough',
    'borough': 'Borough',
    'BOROUGH': 'Borough',
    'Zone': 'Zone',
    'zone': 'Zone',
    'ZONE': 'Zone',
    'service_zone': 'service_zone',
    'Service_Zone': 'service_zone',
    'SERVICE_ZONE': 'service_zone'
}

# åº”ç”¨åˆ—åæ˜ å°„
for old_name, new_name in column_mapping.items():
    if old_name in df.columns:
        df.rename(columns={old_name: new_name}, inplace=True)

# ç¡®ä¿åˆ—åæ­£ç¡®
expected_cols = ['LocationID', 'Borough', 'Zone', 'service_zone']
df = df[expected_cols]

print(f"ğŸ“ å‡†å¤‡æ’å…¥ {len(df)} æ¡è®°å½•...")

# ä½¿ç”¨ executemany æ‰¹é‡æ’å…¥
with psycopg.connect(**PG_CONFIG) as conn:
    with conn.cursor() as cur:
        # å‡†å¤‡æ’å…¥è¯­å¥
        insert_query = """
            INSERT INTO taxi_zone_lookup (LocationID, Borough, Zone, service_zone)
            VALUES (%s, %s, %s, %s);
        """
        
        # è½¬æ¢ä¸ºåˆ—è¡¨
        data = df.values.tolist()
        
        # æ‰¹é‡æ’å…¥
        cur.executemany(insert_query, data)
        conn.commit()
        
        print(f"âœ… æˆåŠŸæ’å…¥ {len(df)} æ¡è®°å½•")

# 4. éªŒè¯å¯¼å…¥
print("\n" + "="*60)
print("ğŸ” éªŒè¯å¯¼å…¥ç»“æœ...")

with psycopg.connect(**PG_CONFIG) as conn:
    with conn.cursor() as cur:
        # æ€»æ•°
        cur.execute("SELECT COUNT(*) FROM taxi_zone_lookup;")
        count = cur.fetchone()[0]
        print(f"âœ… è¡¨ä¸­æ€»è®°å½•æ•°: {count}")
        
        # æŸ¥çœ‹å‰ 5 æ¡
        cur.execute("SELECT * FROM taxi_zone_lookup ORDER BY LocationID LIMIT 5;")
        print("\nå‰ 5 æ¡è®°å½•:")
        for row in cur.fetchall():
            print(f"  ID: {row[0]}, Borough: {row[1]}, Zone: {row[2]}, Service: {row[3]}")
        
        # æŒ‰ Borough ç»Ÿè®¡
        cur.execute("""
            SELECT Borough, COUNT(*) as zone_count 
            FROM taxi_zone_lookup 
            GROUP BY Borough 
            ORDER BY zone_count DESC;
        """)
        print("\næŒ‰è¡Œæ”¿åŒºç»Ÿè®¡:")
        for row in cur.fetchall():
            print(f"  {row[0]}: {row[1]} ä¸ªåŒºåŸŸ")

print("\n" + "="*60)
print("ğŸ‰ å¯¼å…¥å®Œæˆï¼ç°åœ¨å¯ä»¥ä½¿ç”¨è´¹ç”¨è®¡ç®—å™¨äº†ï¼")
print("="*60)

ğŸ“– è¯»å– taxi_zone_lookup.csv...
âœ… è¯»å–æˆåŠŸï¼Œå…± 265 æ¡è®°å½•
ğŸ“Š åˆ—å: ['LocationID', 'Borough', 'Zone', 'service_zone']

å‰ 5 æ¡æ•°æ®:
   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

============================================================
ğŸ—„ï¸  åˆ›å»º taxi_zone_lookup è¡¨...
âœ… è¡¨åˆ›å»ºæˆåŠŸ

============================================================
ğŸ“¥ å¯¼å…¥æ•°æ®åˆ°æ•°æ®åº“...
ğŸ“ å‡†å¤‡æ’å…¥ 265 æ¡è®°å½•...
âœ… æˆåŠŸæ’å…¥ 265 æ¡è®°å½•

============================================================
ğŸ” éªŒè¯å¯¼å…¥ç»“æœ...
âœ… è¡¨ä¸­æ€»è®°å½•æ•°: 265

å‰ 5 æ¡è®°å½•:
  ID: 1, Borough: EWR, Zone: Newark Airport, Service: EWR
  ID: 2, Borough: Queens, Zone: Jamaica Bay, Service: Boro Zone
  ID: 3, Borough: Bronx, Zone: Allerton/Pelham Gardens, Service: Boro Zone
  ID: 4, Borough: Manhattan, Zone: Alphabet City, Service: Yellow Zone
  ID: 5, Borough: Staten Island, Zone: Arden Heights, Service: Boro Zone

æŒ‰è¡Œæ”¿åŒºç»Ÿè®¡:
  Queens: 69 ä¸ªåŒºåŸŸ
  Manhattan: 69 ä¸ªåŒºåŸŸ
  Brooklyn: 61 ä¸ªåŒºåŸŸ
  Bronx: 43 ä¸ªåŒºåŸŸ
  Staten Island: 20 ä¸ªåŒºåŸŸ
  EWR: 1 ä¸ªåŒºåŸŸ
  NaN: 1 ä¸ªåŒºåŸŸ
  Unknown: 1 ä¸ªåŒºåŸŸ

============================================================
ğŸ‰ å¯¼å…¥å®Œæˆï¼ç°åœ¨å¯ä»¥ä½¿ç”¨è´¹ç”¨è®¡ç®—å™¨äº†ï¼
============================================================